<%= render 'profiles/profile_header' %>
  <div class="panel-body col-sm-6">

    <div class="thumbnail img-thumbnail">
      <label>Username: </label>
      <p class="input-sm"><%= @profile.user_username%></p>
    </div>
    <div class="thumbnail img-thumbnail">
      <label>Gender: </label>
      <p class="input-sm"><%= @profile.gender %></p>
    </div>
    <div class="thumbnail img-thumbnail">
      <label>Email:  </label>
      <p class="input-sm"><%= @profile.email %></p>
    </div>
    <div class="thumbnail img-thumbnail">
      <label>Address: </label>
      <p class="input-sm"><%= @profile.address %></p>
    </div>
    <div class="thumbnail img-thumbnail">
      <label>Birthdate: </label>
      <p class="input-sm"><%= @profile.birthdate.to_formatted_s(:long) %></p>
    </div>
  </div>
</div>