<div class="modal-dialog col-md-offset-3">
   <div class="modal-content">
     <div class="modal-header">
       <h3 class="h3 text-warning">Advance Search</h3>
     </div>
     <%= form_for :book,url: manifest_book_path('none') do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :isbn %>
            <%= f.text_field :isbn, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :author %>
            <%= f.text_field :author, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :category %>
            <%= f.collection_select :category,BookType.all, :category, :category, {'class'=>'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :publisher %>
            <%= f.text_field :publisher, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :copyright_date %>
            <%= f.date_select :copyright, class: "form-control" %>
          </div>

        </div>
        <div class="modal-footer">
          <%= f.submit :Search, class: "btn btn-success" %>
          <input type="reset" class="btn btn-warning" value="Reset">
          <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
     <% end %>
   </div>
</div>