<div class="modal-dialog  col-md-offset-3">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="warning">Upload Your Profile Photo</h1>
    </div>

    <%= form_for @photo do |f| %>
        <div class="modal-body">
          <div class="alert" id="puncture">
          </div>
          <%= f.hidden_field :user_username, :value=>"#{current_user.username}" %>
          <div class="form-group">
            <%= f.label :name_of_photo %>
            <%=f.text_field :name %>
          </div>
          <div class="form-group">
            <%= f.label :photo_attachment %>
            <%= f.file_field :attachment, class: "cropit-image" %>
          </div>
        </div>
        <div class="modal-footer">
            <%= f.submit :class=>'success button' %>
        </div>
    <% end %>
  </div>
</div>
<script>
    !function($){
        $(function(){
            $(".cropit-image").picEdit({
                maxWidth: 225,
                maxHeight: 225,
                formSubmitted: function(response){
                    if(response.status==200){
                        alert("Successfully uploaded your attachment!")
                        window.location="/profiles/"+"<%= current_user.username%>"+"/manifest"
                    }
                }
            });
        })
    }(window.jQuery)
</script>