<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="A Library application for cataloging books">
  <meta name="author" content="Jayson Rael Ramos">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap-theme.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'foundation.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'foundation-flex', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'foundation-rtl', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'picedit', media: 'all', 'data-turbolinks-track'=>true %>

  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
</head>
<body class="sky">
<!--Nav Bar -->
<nav class="navbar navbar-static-top warning navbar-inverse" style="z-index: 11400;top:0;position:fixed;width:100%;bottom: 5">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Library System <span class="badge">beta</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_path %>#home" >Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">About Us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'All Books', books_path %></li>
            <li role="separator" class="divider"></li>
            <% if logged_in? %>
                <li><%=link_to 'Search for Book', search_book_path('index'), remote:true, class:"model-books" %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Old Books', show_old_book_path('old_days') %></li>
                <% if is_admin? %>
                    <li role="separator" class="divider"></li>
                    <li class="bg-warning"><%= link_to 'Add Category', new_book_types_path, remote: true,class: "model-books" %></li>
                    <li role="separator" class="divider"></li>
                    <li class="bg-warning"><%= link_to 'Add Books', new_book_path, remote: true,class: "model-books" %></li>
                <% else %>
                    <li role="separator" class="divider"></li>
                    <li class="bg-warning"><%= link_to 'My Cart', carts_path, remote: true,class: "model-books" %></li>
                <% end %>
            <% end %>
          </ul>
        </li>
        <% if is_admin? %>
            <li class="dropdown">
              <a href="#tasks" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks<span class="caret"></span></a>
              <ul class="dropdown-menu">
                 <li><%= link_to 'Show All Reservations', show_reservations_task_path(current_user.username), class: ""%></li>
                 <li role="separator" class="divider"></li>
              </ul>
            </li>
        <% end %>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">-->
      <!--<div class="form-group">-->
      <!--<input type="text" class="form-control" placeholder="Search">-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <li style="margin-top: 1%">
              <a href="#%>" >
                <% if profile_checker? %>
                    <%= image_tag find_dp, style:"position: absolute; width: 30px; height: 30px; border-radius: 50%" %>
              <% end %>
              </a>
            </li>
        <% end %>

        <li class="dropdown pull-right">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= logged_in? ? current_user.username : 'Account' %>
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if !logged_in?  %>
                <li><a href="<%= new_users_path %>">Sign Up</a></li>
                <li><a href="<%= login_auths_path %>">Login</a></li>
            <% else %>
                <% if profile_checker? %>
                  <li> <%= link_to 'View Profile', manifest_profile_path(current_user.username)%></li>
                <% else %>
                   <li><%= link_to 'Create Your Profile', new_profile_path %></li>
                <% end %>
                <li><%= link_to "Log Out", logout_auths_path, method: :post %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <!--<li><a href="#">Separated link</a></li>-->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--******-->
   <div class="container-fluid" style="margin-top: 4%; z-index:300">
     <%= yield %>
     <div id="library-modal" class="modal fade" role="dialog" tabindex="-1" style="margin-top: 10%; z-index: 1300">
     </div>
   </div>


<%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'costume-application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'foundation.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'picedit', 'data-turbolinks-track'=>true %>

</body>
</html>
